---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  labels:
    {{- include "wonderwall-forward-auth.labels" . | nindent 4 }}
  name: {{ include "wonderwall-forward-auth.fullname" . }}
spec:
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: nais-system
          podSelector:
            matchLabels:
              app.kubernetes.io/name: prometheus
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: nais-system
          podSelector:
            matchLabels:
              app.kubernetes.io/name: alloy
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: nais-system
          podSelector:
            matchLabels:
              nais.io/ingressClass: {{ .Values.ingressClassName }}
  podSelector:
    matchLabels:
      {{- include "wonderwall-forward-auth.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
{{- if .Capabilities.APIVersions.Has "networking.gke.io/v1alpha3" }}
---
apiVersion: networking.gke.io/v1alpha3
kind: FQDNNetworkPolicy
metadata:
  name: {{ include "wonderwall-forward-auth.fullname" . }}-fqdn
  labels:
    {{- include "wonderwall-forward-auth.labels" . | nindent 4 }}
  annotations:
    fqdnnetworkpolicies.networking.gke.io/aaaa-lookups: "skip"
spec:
  egress:
    - ports:
        - port: 443
          protocol: TCP
      to:
        - fqdns:
          - auth.nais.io
  podSelector:
    matchLabels:
      {{- include "wonderwall-forward-auth.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Egress
{{- end }}
