dependencies:
  - allOf:
      - aiven-operator
      - aivenator
      - replicator
environmentKinds:
  - tenant
  - legacy
timeout: "1800s"
values:
  aiven.project:
    description: Aiven project for Redis.
    computed:
      template: '"{{ .Env.aiven_project }}"'
  aiven.redisPlan:
    description: Aiven plan for Redis.
    required: true
    config:
      type: string
  aiven.prometheusEndpointId:
    description: Aiven Prometheus integration endpoint ID.
    computed:
      template: '"{{ .Env.aiven_prometheus_endpoint_id }}"'
  azure.enabled:
    description: Enable Azure AD.
    config:
      type: bool
  azure.forwardAuth.enabled:
    description: Enables forward auth server
    config:
      type: bool
  azure.forwardAuth.groupIds:
    description: Additional group IDs to grant access to
    config:
      type: string_array
  azure.forwardAuth.sessionCookieEncryptionKey:
    description: Cookie encryption key, 256 bits (e.g. 32 ASCII characters) encoded with standard base64.
    config:
      type: string
      secret: true
  azure.forwardAuth.ssoDomain:
    description: Cookie domain for forward auth
    config:
      type: string
  azure.forwardAuth.ssoDefaultRedirectURL:
    description: Default redirect URL for forward auth
    config:
      type: string
  idporten.enabled:
    description: Enable ID-porten.
    config:
      type: bool
  idporten.openidResourceIndicator:
    description: Resource indicator for audience-restricted tokens.
    config:
      type: string
  idporten.openidPostLogoutRedirectURL:
    description: Where to redirect the user after global logout.
    config:
      type: string
  idporten.replicasMax:
    description: Maximum replicas for SSO server.
    config:
      type: int
  idporten.replicasMin:
    description: Minimum replicas for SSO server.
    config:
      type: int
  idporten.sessionCookieEncryptionKey:
    description: Cookie encryption key, 256 bits (e.g. 32 ASCII characters) encoded with standard base64.
    config:
      type: string
      secret: true
  idporten.sessionCookieName:
    description: Cookie name for SSO sessions.
    config:
      type: string
  idporten.ssoDefaultRedirectURL:
    description: Fallback URL for invalid SSO redirects.
    config:
      type: string
  idporten.ssoDomain:
    description: Allowed domain for SSO (for cookies, CORS and redirect URL validation).
    config:
      type: string
  idporten.ssoServerHost:
    description: Host for SSO server.
    config:
      type: string
  idporten.ingressClassName:
    description: Ingress class for SSO server.
    config:
      type: string
  image.tag:
    config:
      type: string
