<!DOCTYPE html>
<html lang="no">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        {{ .CSS }}
    </style>
    <title>Teknisk feil</title>
</head>
<body>
<section class="bg-white">
    <div class="flex h-screen py-8 px-6 lg:py-26 lg:px-12">
        <div class="mx-auto sm:m-auto max-w-screen-md text-left">
            <h1 class="mb-1 sm:mb-2 text-3xl tracking-tight font-bold sm:font-semibold sm:text-5xl text-gray-900">
                Beklager, noe gikk galt.
            </h1>
            <p class="mb-4 font-light text-sm text-gray-500">
                Statuskode {{.HttpStatusCode}}
            </p>
            <p class="mb-8 text-base tracking-tight font-normal text-gray-900">
                En teknisk feil gjør at siden er utilgjengelig. Dette skyldes ikke noe du gjorde.<br />
                Vent litt og prøv igjen.
            </p>
            <div class="flex flex-col gap-6 mt-8 sm:flex-row sm:items-center sm:gap-8">
                {{if ne .HttpStatusCode 400}}
                <a href="{{.RetryURI}}" class="text-base font-normal text-action-500 underline hover:no-underline hover:text-action-700">
                    Prøv igjen
                </a>
                {{end}}
                <a href="{{.DefaultRedirectURI}}" class="text-base font-normal text-action-500 underline hover:no-underline hover:text-action-700">
                    Gå til forsiden
                </a>
            </div>
            <p class="mt-8 font-light text-sm text-gray-500">
                ID: {{.CorrelationID}}
            </p>
        </div>
    </div>
</section>
</body>
</html>
